.list-group-item {
  border: inherit !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.text-responsive {
  font-size: calc(0.8vw + 1vh);
}

.text-responsive-item {
  font-size: calc(0.35vw + 1vh);
}

div.justify-content-end.text-center.row {
  padding-right: 7%;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  div.justify-content-end.text-center.row {
    padding-left: 6%;
  }
  
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
